.color-white {
    color: #fff7f8 !important;
}

.color-pink {
    color: #e30b5c !important;
}

.color-gray {
    color: #202020 !important;
}

.color-light-gray {
    color: #a59b9c !important;
}

.color-black {
    color: #191919 !important;
}

.bg-white {
    background-color: #fff7f8 !important;
}

.bg-pink {
    background-color: #e30b5c !important;
}

.bg-gray {
    background-color: #202020 !important;
}

.bg-light-gray {
    background-color: #a59b9c !important;
}

.bg-black {
    background-color: #191919 !important;
}

.border-white {
    border-color: #fff7f8 !important;
}

.border-pink {
    border-color: #e30b5c !important;
}

.border-gray {
    border-color: #202020 !important;
}

.border-light-gray {
    border-color: #a59b9c !important;
}

.border-black {
    border-color: #191919 !important;
}

.title-welcome {
    font-size: 50px;
    color: #fff7f8;
}

.link-login {
    text-decoration: none;
    color: #fff7f8;
    font-size: 40px;
}

.link-login:focus {
    color: #fff7f8 !important;
}

body {
    margin: 0px !important;
    font-family: 'Raleway', sans-serif;
}

.back-button {
    color: #e30b5c;
    font-size: 100px;
    position: relative;
    top: 0%;
    left: -16%;
}

.back-button-2 {
    color: #e30b5c;
    font-size: 100px;
}

.enter-button {
    color: #fff7f8;
    font-size: 60px;
    position: relative;
    top: 0%;
    left: -16%;
}

.icon-eye {
    position: absolute;
    right: 5%;
    top: 35%;
}

.logo-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-black {
    background-color: #191919 !important;
}

.form-control {
    border: 2px solid #232323;
    border-radius: 20px;
    background-color: #292929;
    color: #fff7f8 !important;
    padding-left: 25px !important;
    font-size: 55px;
    height: 150px !important;
    width: 100%;
}

.form-control:focus {
    color: #212529;
    background-color: #292929;
    border-color: #e30b5c;
    outline: 0;
    box-shadow: none;
}

.form-check {
    color: white;
    font-size: 40px;
}

.custom-label {
    font-size: 35px;
    padding-left: 5% !important;
    color: #fff7f8;
}

.btn-primary {
    background-color: #e30b5c !important;
    border: none !important;
    border-radius: 20px !important;
    height: 150px !important;
    font-size: 45px !important;
    color: #fff7f8 !important;
    width: 100% !important;
}

.btn-primary:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn-primary-swal {
    background-color: #e30b5c !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 40px !important;
    color: #fff7f8 !important;
    width: 100% !important;
    padding: 30px 40px;
}

.btn-primary-swal-2 {
    background-color: #e30b5c !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 40px !important;
    color: #fff7f8 !important;
    padding: 30px 40px !important;
}

.btn-secondary {
    background-color: #a59b9c !important;
    border: none !important;
    border-radius: 20px !important;
    height: 150px !important;
    font-size: 45px !important;
    color: #fff7f8 !important;
    width: 100% !important;
}

.btn-secondary:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn-secondary-swal {
    background-color: #a59b9c !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 40px !important;
    color: #fff7f8 !important;
    width: 100% !important;
    padding: 30px 40px !important;
}

.btn-secondary-swal-2 {
    background-color: #a59b9c !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 40px !important;
    color: #fff7f8 !important;
    padding: 30px 40px !important;
}

.title-swal {
    font-size: 80px !important;
}

.swal2-icon {
    font-size: 40px !important;
}

.swal2-html-container {
    color: white !important;
    font-size: 40px !important;
}

.pop-up-swal {
    border-radius: 20px !important;
}

.entire-screen {
    width: 100vw;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 8% !important;
    margin-left: 7% !important;
    margin-right: 7% !important;
    margin-bottom: 15% !important;
}

.container {
    max-width: 90% !important;
}

.div-center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.dropdown-menu {
    padding: 2%;
    color: #e30b5c;
}

.alerta-label {
    color: red !important;
}

.alerta-input {
    border: 2px solid red !important;
}

.form-check-input:checked {
    background-color: #e30b5c;
    border-color: #e30b5c;
}

.br-20 {
    border-radius: 20px;
}

.br-bt-20 {
    border-radius: 0px 0px 20px 20px;
}

.br-tp-20 {
    border-radius: 20px 20px 0px 0px;
}

.br-st-20 {
    border-radius: 20px 0px 0px 20px;
}

.br-ed-20 {
    border-radius: 0px 20px 20px 0px;
}

.fs-extra-large {
    font-size: 80px;
}

.fs-large {
    font-size: 60px;
}

.fs-medium {
    font-size: 50px;
}

.fs-small {
    font-size: 35px;
}

.fs-extra-small {
    font-size: 30px;
}

.bg-treino {
    background-image: url(../img/treino_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-abdome {
    background-image: url(../img/treino-abdome.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-aerobico {
    background-image: url(../img/treino-aerobico.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-biceps {
    background-image: url(../img/treino-biceps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-costas {
    background-image: url(../img/treino-costas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-ombro {
    background-image: url(../img/treino-ombro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-peito {
    background-image: url(../img/treino-peito.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-perna {
    background-image: url(../img/treino-perna.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-triceps {
    background-image: url(../img/treino-triceps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h-25vh {
    height: 25vh;
}

.h-50vh {
    height: 50vh;
}

.h-75vh {
    height: 75vh;
}

.h-100vh {
    height: 100vh;
}

.fw-500 {
    font-weight: 500;
}