.color-white {
    color: #fff7f8;
}

.color-pink {
    color: #e30b5c;
}

.color-gray {
    color: #202020;
}

.color-black {
    color: #191919;
}

.bg-white {
    background-color: #fff7f8;
}

.bg-pink {
    background-color: #e30b5c;
}

.bg-gray {
    background-color: #202020;
}

.bg-black {
    background-color: #191919;
}

.border-white {
    border-color: #fff7f8 !important;
}

.border-pink {
    border-color: #e30b5c !important;
}

.border-gray {
    border-color: #202020 !important;
}

.border-black {
    border-color: #191919 !important;
}

.title-welcome {
    font-size: 50px;
    color: #fff7f8;
}

.link-login {
    text-decoration: none;
    color: #fff7f8;
    font-size: 40px;
}

.link-login:focus {
    color: #fff7f8 !important;
}

body {
    margin: 0px !important;
    font-family: 'Raleway', sans-serif;
}

.back-button {
    color: #e30b5c;
    font-size: 100px;
    position: relative;
    top: 0%;
    left: -16%;
}

.enter-button {
    color: #fff7f8;
    font-size: 60px;
    position: relative;
    top: 0%;
    left: -16%;
}

.icon-eye {
    position: absolute;
    right: 5%;
    top: 35%;
}

.logo-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-black {
    background-color: #191919 !important;
}

.form-control {
    border: 2px solid #232323;
    border-radius: 20px;
    background-color: #292929;
    color: #fff7f8 !important;
    padding-left: 25px !important;
    font-size: 55px;
    height: 150px !important;
    width: 100%;
}

.form-control:focus {
    color: #212529;
    background-color: #292929;
    border-color: #e30b5c;
    outline: 0;
    box-shadow: none;
}

.form-check {
    color: white;
    font-size: 40px;
}

.custom-label {
    font-size: 35px;
    padding-left: 5% !important;
    color: #fff7f8;
}

.btn-primary {
    background-color: #e30b5c !important;
    border: none !important;
    border-radius: 20px !important;
    height: 150px !important;
    font-size: 45px !important;
    color: #fff7f8 !important;
    width: 100% !important;
}

.btn-primary:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn-primary-swal {
    background-color: #e30b5c !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 40px !important;
    color: #fff7f8 !important;
    width: 100% !important;
    padding: 30px 40px;
}

.title-swal {
    font-size: 80px;
}

.pop-up-swal {
    font-size: 40px;
}

.swal2-popup {
    border-radius: 20px;
}

.entire-screen {
    width: 100vw;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 8% !important;
    margin-left: 7% !important;
    margin-right: 7% !important;
    margin-bottom: 15% !important;
}

.container {
    max-width: 90% !important;
}

.div-center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.dropdown-menu {
    padding: 2%;
    color: #e30b5c;
}

.alerta-label {
    color: red !important;
}

.alerta-input {
    border: 2px solid red !important;
}

.form-check-input:checked {
    background-color: #e30b5c;
    border-color: #e30b5c;
}

.br-20 {
    border-radius: 20px;
}